<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <script>

$(document).ready(function(){
 
    $("#post-btn").click(function(){  
     
        var nameVal = $("#name").val(); 
        var summaryVal = $("#summary").val();


       $.ajax({
       type: "POST",
       contentType: "application/json; charset=utf-8",
       url: "/classify_movie_type",
       success: function (data) {

          alert( "预测类型: " + data["type"] );
       },
       data: JSON.stringify({name:nameVal,summary:summaryVal}),
 
      dataType: "json"
      });
        
    });
 });   
</script>
</head>



<body>

<div class="container">
  <h2>电影分类预测</h2>
 <!-- <form action="/"> -->
    <div class="form-group">
      <label for="email">电影名字:</label>
      <input type="name" class="form-control" id="name" placeholder="Enter name" >
    </div>
    <div class="form-group">
      <label for="pwd">电影简介:</label>
      <input type="summary" class="form-control" id="summary" placeholder="Enter summary" name="summary">
    </div>

    <button id="post-btn" name="post-btn" class="btn btn-default">预测影片类型</button>
 <!-- </form> -->
</div>

</body>
</html>